# Metodologías para cálculo del VaR - Documentación

In [1]:
from methodologies import methodology

In [2]:
activos = ["BA", "AMZN", "AAPL", "AAL", "GS"]
dinero = [100, 100, 100, 100, 100]
desde = "2018-04-03"
hasta = "2020-05-08"
alphas = [0.1,  0.05,  0.025,  0.01]
periodos = 277

M = methodology(stocks=activos, 
                 amount = dinero,
                 init = desde, 
                 end = hasta,
                 alphas = alphas,
                 periods=periodos)

### Estadísticos

In [3]:
M.get_statistics()

                        BA         AMZN        AAPL         AAL          GS
Participacion     0.200000     0.200000    0.200000    0.200000    0.200000
Precio Cierre   133.440002  2379.610107   77.532501   10.140000  185.389999
Rendimiento       0.036556     0.005056    0.020820    0.060995    0.016698
Media            -0.001716     0.001014    0.001154   -0.003071   -0.000570
Desv. estándar    0.035020     0.020796    0.022317    0.038613    0.023075
Varianza          0.001226     0.000432    0.000498    0.001491    0.000532
Curtosis         18.233471     2.969493    7.133508   15.216208   12.989874
Mínimo           -0.272444    -0.082535   -0.137708   -0.290682   -0.135881
Máximo            0.217677     0.090254    0.113157    0.306049    0.161951
Cantidad        529.000000   529.000000  529.000000  529.000000  529.000000

### Metodologías para VaR individual:

In [4]:
df = M.VaRDeltaNormal("BA")
df = M.VaRSimulacionHistoricaUnivariada("AAL")
df = M.VaRDeltaT("GS")

In [5]:
df1, df2 = M.split_dataframe(df)
df1

                   Fechas     p=0.1   p=0.05   p=0.025    p=0.01
277  VaR t+1 (11/05/2020) -0.033216 -0.04535 -0.057853 -0.075731

In [6]:
df2

         Fechas     p=0.1    p=0.05   p=0.025    p=0.01
0    04/04/2019 -0.018297 -0.024981 -0.031868 -0.041716
1    05/04/2019 -0.018294 -0.024977 -0.031863 -0.041708
2    08/04/2019 -0.018268 -0.024942 -0.031818 -0.041651
3    09/04/2019 -0.018198 -0.024846 -0.031696 -0.041491
4    10/04/2019 -0.018195 -0.024843 -0.031691 -0.041485
..          ...       ...       ...       ...       ...
272  04/05/2020 -0.033146 -0.045254 -0.057731 -0.075570
273  05/05/2020 -0.033135 -0.045240 -0.057712 -0.075546
274  06/05/2020 -0.033147 -0.045257 -0.057734 -0.075574
275  07/05/2020 -0.033126 -0.045228 -0.057696 -0.075525
276  08/05/2020 -0.033194 -0.045321 -0.057815 -0.075681

[277 rows x 5 columns]

### Metodologías para VaR Portafolio:

In [7]:
M.VaRSumaSimple()
M.VaRBaricentroEWMANormal()
M.VaRBaricentroPromedioNormal()
M.VaRSimulacionHistorica()
M.VaRBaricentroPromedioT()
M.VaRBaricentroEWMAT()
M.VaRMatrizVarCovar()

                   Fechas     p=0.1    p=0.05   p=0.025    p=0.01
0              04/04/2019 -0.019954 -0.025611 -0.030517 -0.036222
1              05/04/2019 -0.019955 -0.025612 -0.030518 -0.036223
2              08/04/2019 -0.019916 -0.025562 -0.030459 -0.036153
3              09/04/2019 -0.019776 -0.025382 -0.030245 -0.035898
4              10/04/2019 -0.019794 -0.025405 -0.030272 -0.035931
..                    ...       ...       ...       ...       ...
273            05/05/2020 -0.034966 -0.044878 -0.053476 -0.063472
274            06/05/2020 -0.034969 -0.044882 -0.053480 -0.063477
275            07/05/2020 -0.034921 -0.044820 -0.053407 -0.063390
276            08/05/2020 -0.034994 -0.044914 -0.053519 -0.063523
277  VaR t+1 (11/05/2020) -0.035073 -0.045016 -0.053639 -0.063666

[278 rows x 5 columns]

### BackTesting

In [8]:
M.BackTesting(M.VaRSimulacionHistorica())

                                p=0.1      p=0.05     p=0.025      p=0.01
x                                  35          22          15           9
m                                 277         277         277         277
p estimado                   0.126354   0.0794224   0.0541516    0.032491
nivel de significancia           0.05        0.05        0.05        0.05
test de kupiec                1.98997     4.31638     7.28124     8.89341
Valor P                      0.104561   0.0221851  0.00387887  0.00156746
Zona de rechazo         No Rechazo H0  Rechazo H0  Rechazo H0  Rechazo H0
BackTesting                      27.7       13.85       6.925        2.77
Valor de eficiencia          0.873646    0.920578    0.945848    0.967509